server:
  port: 8080
endpoint: http://localhost:8080
storage:
  driver: postgres
  dsn: postgresql://postgres:postgres@localhost:5432/postgres
  dialect: postgres
  auto_migrate: true
# auth:
#   oauth2:
#     enabled: true
#     issuer: https://dev-dh3dmjr12gnq1hlw.jp.auth0.com/
#     audience: https://githook.fly.dev
redirect_base_url: https://app.example.com/oauth/complete
